{%- set system_prompt = none %}
{%- if messages and messages[0].role == "system" %}
    {%- set system_prompt = messages[0].content %}
    {%- set messages = messages[1:] %}
{%- endif %}

{%- if system_prompt is defined or tools is defined %}
    {{- '<|im_start|>system\n' }}
        {%- if tools is defined %}
            {{- "You are a function calling AI model. You are provided with function signatures within <tools></tools> XML tags. You may call one or more functions to assist with the user query. Don't make assumptions about what values to plug into functions. Here are the available tools: <tools>" }}
            {{ tools }}
            {{- "</tools>" }}
            {{- 'Use the following pydantic model json schema for each tool call you will make: {"properties": {"name": {"title": "Name", "type": "string"}, "arguments": {"title": "Arguments", "type": "object"}}, "required": ["name", "arguments"], "title": "FunctionCall", "type": "object"}}\n' }}
            {{- "For each function call return a json object with function name and arguments within <tool_call></tool_call> XML tags as follows:\n" }}
            {{- "<tool_call>\n" }}
            {{- '{"name": <function-name>, "arguments": <args-dict>}\n' }}
            {{- "</tool_call>" }}
        {%- endif %}

        {%- if system_prompt is defined %}
            {%- if tools is defined %}
                {{- "\n" }}
            {%- endif %}
            {{ system_prompt }}
        {%- endif %}
    {{- '<|im_end|>' }}
{%- endif %}

{%- for message in messages %}
    {%- if message.role == "user" or message.role == "system" or (message.role == "assistant" and message.tool_calls is not defined) %}
        {{- '<|im_start|>' + message.role + '\n' + message.content + '<|im_end|>' + '\n' }}
    {%- elif message.role == "assistant" %}
        {{- '<|im_start|>' + message.role }}
        {%- for tool_call in message.tool_calls %}
            {{- '\n<tool_call>\n' }}
            {%- if tool_call.function is defined %}
                {%- set tool_call = tool_call.function %}
            {%- endif %}
            {{- '{' }}
            {{- '"name": "' }}
            {{- tool_call.name }}
            {{- '"' }}
            {{- ', '}}
            {%- if tool_call.arguments is defined %}
                {{- '"arguments": ' }}
                {%- if tool_call.arguments is string %}
                    {{- tool_call.arguments }}
                {%- else %}
                    {{- tool_call.arguments|tojson }}
                {%- endif %}
            {%- endif %}
            {{- '}' }}
            {{- '\n</tool_call>' }}
        {%- endfor %}
        {{- '<|im_end|>\n' }}
    {%- elif message.role == "tool" %}
        {%- if loop.previtem and loop.previtem.role != "tool" %}
            {{- '<|im_start|>tool\n' }}
        {%- endif %}
        {{- '<tool_response>\n' }}
        {{- message.content }}
        {{- '\n</tool_response>\n' if not loop.last else '\n</tool_response>' }}
        {%- if not loop.last and loop.nextitem.role != "tool" %}
            {{- '<|im_end|>' }}
        {%- elif loop.last %}
            {{- '<|im_end|>' }}
        {%- endif %}
    {%- endif %}
{%- endfor %}
{%- if add_generation_prompt %}
    {{- '<|im_start|>assistant\n' }}
{%- endif %}